body{
	background-color: #ccc;
	color: orange;
}
.wrap{
	margin: 0 auto; 
	max-width: 1000px;
	background-color: #fff;
}
.header{
	background-color: darkblue;
	height: 150px;
	margin-bottom: 1%;
}
.left{
	background-color: darkgreen;

	width: 20%;
	float: left;

}
.center{
	background-color: darkred;
	width: 63%;
	float: left;
}
.right{
	background-color: olive;
	width: 15%;
	float: left;
}
.clear{
	clear: both;
}
.futer{
	background-color: #333;
	height: 100px;
	clear: both;
    margin-top: 1%;

}